.inputs{
    margin: 10%;
    margin-top: -2%;
    margin-left: 15%;
    text-align: center;
    padding: 5%;
}

/* body{
    background-image: url('https://bestanimations.com/media/water/920370318endless-ocean-gif.gif');
} */
.title{
    font-size: 40px;
}
